** {
  margin: 0;
  padding: 0;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  gap: 0.1vh;
  background-color: #fffdfd;
}
a {
  text-decoration: none;
  color: black;
}
header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #aff4ed;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.main-text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
}
.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
